@media screen and (max-width: 960px) {
    section.hero h1 {
        font-size: 80px;
    }

    .tag {
        padding: 8px;
    }

    .tag p {
        font-size: 16px;
    }

    .mini-dino {
        top: -12px;
    }
}

@media screen and (max-width: 768px) {
    .content-text {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .content-text article .content-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content-text article #closeBtn {
        max-width: 100%;
        justify-content: center;
    }

    .content-text article .text p {
        text-align: center;
    }
}
