/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ps2p {
    font-family: 'Press Start 2P', system-ui;
}

/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Special */
img {
    width: 100%;
    display: block;
}

.underline {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
    line-height: 20px;
}

/* Container */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Shared styling - Header/Footer */
header nav,
footer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul,
footer nav ul {
    list-style: none;
}

header nav ul:nth-child(2),
footer nav ul:nth-child(2),
footer nav ul:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

header nav ul li a,
footer nav ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Header */
header {
    background-color: #0E0C0C;
}

header nav {
    padding: 24px 0;
}

header nav ul li a {
    color: #B5E21C;
}

footer {
    background-color: #0E0C0C;
    padding: 54px 0;
}

footer .opensource_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
    gap: 32px;
}

.main-cta-btn {
    padding: 18px 24px;
    border: 1px solid #B8F300;
    border-radius: 17px;
    transition: all 0.25s ease;
}

.main-cta-btn:hover {
    background-color: #B8F300;
}

.main-cta-btn:active {
    background-color: #d3f66a;
}

.main-cta-btn:hover p {
    color: #0E0C0C;
}

.main-cta-btn p,
.secondary-cta-btn p {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    color: #B8F300;
    transition: all 0.25s ease;
}

.secondary-cta-btn p:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.close {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 18px 24px;
    background-color: #B3EB01;
    border-radius: 17px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.close:hover {
    background-color: #cbff1e;
}

.close:active {
    opacity: 0.75;
}

footer nav {
    padding: 32px 0;
    border-top: 1px solid #414543;
}

footer nav li a {
    color: #414543;
    transition: all 0.25s ease;
}

footer nav li a:hover {
    color: white;
}

/* Hero */
section.hero {
    background: linear-gradient(180deg, #B4E21B 29%, #46A729 100%);
    padding: 96px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 32px;
    align-items: flex-end;
}

.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding: 24px;
    background-color: #171C19;
    border-radius: 24px;
}

.hero-content-wrapper .headings {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content-wrapper .headings span a {
    color: #B3EB01;
}

.hero-content-wrapper .headings p {
    max-width: 333px;
    line-height: 24px;
    color: #848484;
}

.hero-content-wrapper .fetch-pet {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.hero-content-wrapper .fetch-pet input,
.hero-content-wrapper .fetch-pet button {
    padding: 16px;
    border-radius: 16px;
    border: none;
    font-size: 14px;
}

.hero-content-wrapper .fetch-pet input {
    width: 100%;
    max-width: 200px;
    background-color: white;
}

.hero-content-wrapper .fetch-pet input::placeholder {
    color: #989898;
}

.hero-content-wrapper .fetch-pet button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: #FC4B25;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.hero-content-wrapper .fetch-pet button:hover {
    background-color: #ff7a5d;
}

.hero-content-wrapper .fetch-pet button:active {
    background-color: #ec4823;
}

.hero-content-wrapper .fetch-pet button i,
.hero-content-wrapper .fetch-pet button p {
    color: white;
}

.hero-wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
}

.hero-content h1 {
    color: white;
}

.hero-content .day-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    line-height: inherit;
    transform: rotate(8deg);
}

.hero-content .day-progress span {
    font-size: 56px;
    line-height: inherit;
    display: flex;
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    background: #171C19;
    color: white;
    margin-left: 16px;
}

.time-remaining {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.085);
    border-radius: 16px;
    transform: rotate(-7.44deg);
    transform-origin: top left;
}

/* Grid wrapper */
.grid-content-wrapper {
    display: flex;
    align-items: row;
    justify-content: center;
    gap: 24px;
    position: relative;
    margin-top: calc(72px + 96px);
}

.grid-content-wrapper .hatchling-name-tag {
    display: flex;
    transform: rotate(-4deg);
    background-color: white;
    padding: 12px 18px;
    border-radius: 24px;
    align-items: flex-start;
    position: absolute;
    top: -28px;
    z-index: 2;
    height: fit-content;
}

.grid-content-wrapper .hatchling-name-tag input {
    display: inline-block !important;
    width: 120px;
    text-align: center;
    color: #0E0C0C;
    border: none;
    outline: none;
}

.hatchling-wrapper {
    position: absolute;
    top: -180px;
    transform: rotate(6deg);
    z-index: 1;
}

.hatchling {
    max-width: 200px;
}

/* Activity grid */
.activity-grid {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: #171C19;
    box-shadow: 0px 16px 62px 0px rgba(0, 0, 0, 0.33);
}

.activity-grid .grid-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* grid-column-gap: 12px;
    grid-row-gap: 12px;  */
    gap: 12px;
}

.activity-grid .square-activity-none {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #454545;
    width: 72px;
    height: 72px;
    border-radius: 28px;
    transition: all 0.2s ease;
}

.activity-grid .square-activity-none:active {
    border-color: #656565 !important;
}

.jelloActive {
    animation: jelloActive 1s ease-in-out;
    transform-origin: center center; /* Set the transform origin to the center bottom */
}

@keyframes jelloActive {
    0% {
        transform: scale(0.8) rotate(0deg); /* Start with a pushed state */
    }
    30% {
        transform: scale(1.25) rotate(-5deg);
    }
    40% {
        transform: scale(0.8) rotate(3deg);
    }
    50% {
        transform: scale(1.1) rotate(-3deg);
    }
    60% {
        transform: scale(1.1) rotate(2deg);
    }
    70% {
        transform: scale(1.1) rotate(-2deg);
    }
    80%, 100% {
        transform: scale(1) rotate(0deg);
    }
}

.activity-grid .square-activity-none:hover {
    border-color:white;
    color: white;
    transform: scale(1.1);
}

.active p {
    border-color: white !important;
    color: white;
}

.highlight {
    border-color: #B3EB01 !important;
    color: white;
    box-shadow: 0px 0px 17.1px 0px rgba(177, 234, 1, 0.37);
}

.grid-item {
    cursor: pointer;
    color: #414543;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(16px);
    background-color: rgba(0,0,0,0.90);
    transition: all 0.3s ease;
    z-index: 3;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
    gap: 24px;
}

#modalMessage {
    max-width: 700px;
    min-width: fit-content;
    margin: 0 auto;
    padding: 24px;
    color: white;
    line-height: 32px;
    border: solid 1px #B3EB01;
    border-radius: 24px;
}

.tag {
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    padding: 8px;
    border-radius: 99px;
    font-size: 12px;
    color: black;
}

/* Define the keyframes for the bounce-in animation */
@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 0.7;
      transform: scale(1.05);
    }
    70% {
      opacity: 1;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Apply the animation to an element */
  .bounceIn {
    animation: bounceIn 1s ease-in-out;
  }

/* Mobile */
@media (max-width: 980px) {
    .hero-wrapper {
        flex-direction: column;
    }

    .hero-content {
        align-items: center;
        gap: 16px;
    }

    .hero-content h1,
    .hero-content h2,
    .hero-content p,
    .time-remaining {
        transform: rotate(0) !important;
    }

    .hero-content > * {
        text-align: center;
    }

    .hero-content-wrapper .fetch-pet {
        flex-direction: column;
    }

    .hero-content-wrapper .fetch-pet input,
    .hero-content-wrapper .fetch-pet button {
        max-width: 100%;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .opensource_links {
        flex-direction: column !important;
    }

    .activity-grid .square-activity-none {
        width: 50px;
        height: 50px;
        border-radius: 20px;
    }

    .grid-item{
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .activity-grid .square-activity-none {
        width: 35px;
        height: 35px;
        border-radius: 14px;
    }

    .activity-grid .grid-container {
        gap: 8px;
    }

    .grid-item{
        font-size: 10px;
    }

    .hero-content h1 {
        font-size: 18px;
    }

    .day-progress,
    .day-progress span {
        font-size: 48px !important;
    }
}